<div class="row arrange-index">
	<div class="col-md-4">
  </div>
  <div class="col-md-5 search-area clearfix">
  	<!-- データは変更しないのでform_tagを使用 -->
  	<%= form_tag admins_reviews_path, method: :get do %>
  		<%= select_tag 'target',
  		 options_for_select([
  		 	["投稿ID",'id'],['商品ID','item_id'],['ユーザID','user_id'],['内容','body']
  		 	]) %>
  		<%= text_field_tag :search %> <!-- params[:search]に値が代入される -->
  		<%= submit_tag '検索', name: nil, class:"btn btn-info" %><!-- nil -> URLに表示させない-->
  	<% end %>
  </div>

  <div class="col-md-3 sort-area clearfix">
  	<%= form_tag admins_reviews_path, method: :get do %>
  		<%= select_tag 'key',
  		 options_for_select([
				["投稿ID",'id'],["投稿日時",'created_at'],["タイトル",'title'],['商品ID','item_id'],['ユーザID','user_id']
  		 	]) %>
  		<%= select_tag 'direction',
  		 options_for_select([["昇順",'ASC'],['降順','DESC']]) %>
  		<%= submit_tag '並び替え', name: nil, class:"btn btn-info" %>
  	<% end %>
  </div>
  </div>
</div>
<div class="row review-index">
  <div class="col-md-10 col-md-offset-1 ">
  	<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>投稿ID</th>
						<th>投稿日時</th>
						<th>タイトル</th>
						<th>内容</th>
						<th>商品ID</th>
						<th>商品名</th>
						<th>ユーザID</th>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					<% @reviews.each do |review| %>
						<tr>
							<th style="width:8%;"><%= review.id %></th>
							<td style="width:10%;"><%= review.created_at.strftime('%Y/%m/%d %H:%M') %></td>
							<td style="width:15%;"><%= review.title %></td>
							<td class="show-content" style="width:25%;">
								<%= review.body[0..139] %>
								<div class="full-content">
									<%= review.body %>
								</div>
							</td>
							<td style="width:8%;"><%= review.item.id %></td>
							<td style="width:15%;"><%= review.item.name %></td>
							<td style="width:8%;"><%= review.user.id %></td>
							<td style="width:5%;">
								<%= link_to '編集', admins_review_path(review),
							 		method: :patch,
							 		data:{ confirm: "投稿を全て削除し、「管理者により削除されました」に変更します"},
									class:"btn btn-warning" %>
							</td>
							<td style="width:6%;">
								<%= link_to '削除', admins_review_path(review),
							 		method: :delete,
							 		data:{ confirm: "本当に削除しますか？"},
									class:"btn btn-danger" %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
			<div class="text-center">
				<%= paginate @reviews, class: "paginate" %>
			</div>
		</div>
  </div>
</div>