 <div class='nested-fields'>
    <div class="field">
      <%= f.label :recipient, '配送先名：'%>
      <%= f.text_field :recipient %><br>
      <%= f.label :postal_code, '〒'%>
      <%= f.number_field :postal_code %><br>
      <%= f.text_area :details %>
      <%= f.label :telephone_number, 'TEL'%>
      <%= f.number_field :telephone_number %><br>
    </div>
    <div>
      <%= link_to_remove_association "新規住所を削除", f %>
    </div>
</div>