 <div class='nested-fields'>
    <div class="half-content">
<div class="field" style="margin-bottom: 0; margin-top: 20px;">
        <div class="half1">
        <%= f.label :recipient, 'お宛名'%>
        <%= f.text_field :recipient, style: "border: 1px solid #ddd;
  border-radius: 4px; width: 100%; height:34px; padding: 6px 12px;"%>
        </div>
        <div class="half2">
        <%= f.label :telephone_number, 'TEL'%>
        <%= f.number_field :telephone_number, style: "border: 1px solid #ddd;
  border-radius: 4px; width: 100%;height:34px; padding: 6px 12px;" %>
        </div>
</div>
    </div>

      <div class="field clearfix" style="margin-top: 35px; margin-bottom: 0;">
        <div class="subject" style="width: 25%; margin-left: 3%; float: left;">
        <%= f.label :postal_code,"郵便番号" %>
        <%= f.number_field :postal_code, placeholder: "ハイフン無し：", class: "form-control" %>
        </div>
        <div class="content" style="width: 65%; margin-right: 3%; float: right;">
          <%= f.label :details,"都道府県、市区町村、番地、階数" %>
          <%= f.text_area :details, placeholder: "住所：", class: "form-control"%>
        </div>
    </div>
    <%= link_to_remove_association "上記のお届け先を削除", f, style: "margin-left:3%; margin-bottom: 15px; color: white;", class:"btn btn-danger" %>
</div>