        <div class="each-info">
          <dt>お　名　前　　　：</dt>
          <dd><%= user.last_name %><%= user.first_name %> 様</dd>
        </div>
        <div class="each-info">
          <dt>カ　ナ　名　　　：</dt>
          <dd><%= user.last_name_kana %><%= user.first_name_kana %></dd>
        </div>
        <div class="each-info">
          <dt>お　住　ま　い　　：</dt>
            <dd><%= user.postal_code.insert(3, '-') %></dd>
            <dd><%= user.address %></dd>
        </div>
        <% user.delivery_addresses.each_with_index do |delivery_address, number|%>
        <div class="each-info">
          <dt>お　届　け　先　 (<%= number+1 %>) ：</dt>
          <dd><%= delivery_address.recipient %> 様</dd>
          <dd><%= delivery_address.postal_code.insert(3, '-') %></dd>
          <dd><%= delivery_address.details %></dd>
        </div>
        <% end %>
        <div class="each-info">
          <dt>お　電　話　番　号　：</dt>
          <dd><%= user.telephone_number %></dd>
        </div>
        <div class="each-info">
          <dt>E - m a i l　　　        ：</dt>
          <dd><%= user.email %></dd>
        </div>
        <div class="each-info">
          <dt> お 支 払 い 方 法　　：</dt>
          <dd><%= user.payment %></dd>
        </div>
        <% if user.payment == "クレジット支払" %>
        <div class="each-info card">
          <dt> カ　ー　ド　番　号　：</dt>
          <dd>XXXX-XXXX-XXXX</dd>
        </div>
        <% end %>