<div class="row admin-home">
	<div class="col-md-8 col-md-offset-2 admin_menu">
		<div class="center jumbotron">
			<div class="admin_menu_item">
				<%= link_to '注文一覧', admins_orders_path, class:"btn btn-info btn-block" %>
		  </div>
			<div class="admin_menu_item ">
				<%= link_to '商品一覧', admins_items_path, class:"btn btn-info btn-block" %>
			</div>
			<div class="admin_menu_item">
				<%= link_to '新規商品の登録', new_admins_item_path, class:"btn btn-info btn-block" %>
			</div>
			<div class="admin_menu_item">
				<%= link_to 'ユーザ一覧', admins_users_path, class:"btn btn-info btn-block" %>
			</div>
			<div class="admin_menu_item">
				<%= link_to 'レビュー一覧', admins_reviews_path, class:"btn btn-info btn-block" %>
			</div>
		</div>
	</div>
</div>
