<h2 style="border: solid 1px; border-radius: 3px; text-align: center; width: 20%;">商品詳細</h2>
<div class="container">
	<div class="album" style="width: 90%; padding: 20px; border: solid 1px;">
		<div class="album-left" style="display: inline-block;">
			<div class="album_image">
				 <%= attachment_image_tag @item.image_id, :item_image, :fill, 350, 350, format: 'jpeg' %>
			</div>
		</div>
		<div class="album-right" style="display: inline-block;padding: 30px;">
			<h3><%= link_to @item.name, %></h3>
			<p style="display: inline-block;">
				<%= @item.artist_id %>	
			</p>
			<p style="display: inline-block; border: solid 1px;">
				<%= @item.genre_id %>
			</p>
			<p><%= @item.label_id %></p>
			<div class="status" style="display: inline-block;">
				<p class="sales_status" style="border:solid 1px; border-radius: 5px; display: inline-block; padding: 1px 3px; margin-right: 10px;">
					<%= @item.sales_status %>
				</p>
				<p>残り<% @item.stock %>点</p>
			</div>
			<p style="display: inline-block;">
				￥<%= @item.price %>
			</p>
			<p style="border: solid 1px; text-align: center;">カートに追加</p>
				<div class="favorites" style="display: inline-block; margin-right: 13px">
					<% if @item.favorited_by?(current_user) %>
						<li>
							<%= link_to users_item_favorites_path(@item), method: :delete do %>
								<i class="fa fa-heart" aria-hidden="true" style="display: inline-block; font-size: 18px; color:red;"></i>
							<% end %>
							<p style="display: inline-block;"><%= item.favorites.count %></p>
						</li>
					<% else %>
						<li>
							<%= link_to users_item_favorites_path(@item), method: :post do %>
								<i class="fa fa-heart" aria-hidden="true" style="display: inline-block; font-size: 18px; color:white;"></i>
							<% end %>
							<p style="display: inline-block;"><%= item.favorites.count %></p>
						</li>
					<% end %>
				</div>
				<div class="reviews" style="display: inline-block;">
					<% link_to users_item_review do %>
						<span class="glyphicon glyphicon-comment" aria-hidden="true" style="display: inline-block; font-size: 18px;"></span>
						<p style="display: inline-block;">
					<% end %>
					<p style="display: inline-block;"><%= item.reviews.count %></p>
				</div>
			<div class="item-detail">
				<h2>収録曲</h2>
				<% discs.each do |disc| %>
				<div class="disc" style="display: inline-block;">
					<p>disc<%= disc.number %></p>
						<ul class="song-list" style="list-style: none; margin-right: 30px;">
							<% songs.each do |song| %>
							<li><%= song.number %>.<%= song.name %></li>
							<% end %>
						</ul>
					<% end %>
				</div>
			</div>
		</div>
	</div>

	<div class="album-reviews" style="border: solid 1px; width: 90%; margin-top: 30px; padding: 30px;">
		<div class="review-top">
			<span class="glyphicon glyphicon-comment" aria-hidden="true" style="font-size: 30px; display: inline-block;"></span>
			<h3 style="display: inline-block;">レビュー</h3>
			<ul style="display: inline-block; list-style: none;">
				<li style="float: left; margin-right: 
				25px;">
					<%= link_to '一覧ページへ', new_users_item_review_path(@item) %>
						
				</li>
				<li style="float: left; margin-right: 
				25px;">
					<%= link_to '新規投稿する', users_item_reviews_path(@item) %>		
				</li>
			</ul>
		</div>
		<div class="review-list">
			<% @item.reviews.each do |review| %>
			<div class="review">
				<h4><%= review.title %></h4>
				<p><%= review.body %></p>
			</div>
			<% end %>
		</div>
	</div>
</div>



<!-- tori_cart-test(カート機能試すときはコメントアウト外してください) -->
<%
=begin
%>
<p><%= button_to "#{@item.name}をカートに入れる", users_user_carts_path(current_user.id), method: :post, params: {user_id: current_user.id, item_id: @item.id} %></p>
<%
=end
%>




























<!-- tori_cart-test(カート機能試すときはコメントアウト外してください) -->
<%
=begin
%>


<% if user_signed_in? %>
<p><%= button_to "#{@item.name}をカートに入れる", users_user_carts_path(current_user.id), method: :post, params: {user_id: current_user.id, item_id: @item.id} %></p>
<% end %>


<%
=end
%>





<!-- tori_cart-test(カート機能試すときはコメントアウト外してください) -->

<%

=begin

%>

<p><%= button_to "#{@item.name}をカートに入れる", users_user_carts_path(current_user.id), method: :post, params: {user_id: current_user.id, item_id: @item.id} %></p>

<%

=end

%>





















<!-- tori_cart-test(カート機能試すときはコメントアウト外してください) -->
<%
=begin
%>


<% if user_signed_in? %>
<p><%= button_to "#{@item.name}をカートに入れる", users_user_carts_path(current_user.id), method: :post, params: {user_id: current_user.id, item_id: @item.id} %></p>
<% end %>


<%
=end
%>