<div class="col-md-9">
	<table class="table">
		<thead>
			<tr>
				<th>商品</th>
				<th></th>
				<th>価格</th>
				<th>数量</th>
			</tr>
		</thead>
		<tbody>
			<% @user.carts.each do |cart| %>
				<tr>
					<td style="width: 200px;">
						<%= attachment_image_tag cart.item, :image, :fill, 200, 200, format: 'jpeg', fallback: "/no_image.jpg", size:'150x150' %>
					</td>
					<td>
						<p><%= cart.item.name %></p>
						<p><%= cart.item.artist.name %></p>
						<p><%= cart.item.sales_status %></p>
					</td>
					<td>
						<p><%= cart.item.price %></p>
						<p><%= link_to "取消", users_user_cart_path(@user.id, cart.id) %></p>
					</td>
					<td><%= cart.amount %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
<div class="col-md-3">
	<p class="btn btn-warning">購入へ進む</p>
</div>