<p class="alert alert-info">
	編集内容を入力後 "更新" を押してください<br>
	<br>
	レビューを削除したい場合は "削除" を押してください
</p>
<div class="col-md-2"></div>

<div class="col-md-8" style="margin-bottom: 100px;">
	<div class="row" style="margin-bottom: 25px;">
		<h2 style="display: inline-block;">
			"<%= @item.name %>"へのレビュー
		</h2>
	</div>

	<%= form_for(@review, url: {controller: 'reviews', action: 'update'}) do |f| %>
		<div class="review-post col-md-12" >
			<div class="field row" style="margin-bottom: 20px;">
        <%= f.label "レビュータイトル", style: "font-size: 20px; margin-right: 20px;" %>
        <% if @review.created_at != @review.updated_at %>
					<p style="display: inline-block;">最近の更新日：<%= @review.updated_at.strftime('%Y/%m/%d') %></p>
				<% else %>
					<p style="display: inline-block;">投稿日：<%= @review.created_at.strftime('%Y/%m/%d') %></p>
				<% end %>
        <div>
        	<%= f.text_field :title, placeholder: "タイトル：", class: "col-md-5", style: "height: 35px;" %>
        </div>
      </div>
      <div class="field row" style="margin-bottom: 20px;">
        <%= f.label "本文", style: "font-size: 20px;" %>
        <div>
        	<%= f.text_area :body, rows: 10, placeholder: "本文：", class: "col-md-10"%>
        </div>
      </div>
		</div>
		<span>
			<%= f.submit '更新', class: "btn btn-info col-md-1", style: "font-size: 16px; margin-right: 15px;" %>
		</span>
		<span>
			<%= link_to '削除', users_item_review_path(@item, @review), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-danger col-md-1", style: "font-size: 16px; margin-right: 15px;" %>
		</span>
		<span>
			<%= link_to '戻る', users_item_reviews_path(@item), class: "btn btn-default col-md-1", style: "font-size: 16px;" %>
		</span>
	<% end %>
</div>