<h2 style="display: inline-block;">
	"<%= @item.name %>"へのレビュー
</h2>
<p style="display: inline-block;">
	<% if user_signed_in? %>
		<p>
			<%= link_to '新規投稿する', new_users_item_review_path(@item) %>
		</p>
	<% else %>
		<p>
			<%= link_to '新規投稿する', new_user_session_path %>
		</p>
	<% end %>
</p>

<div class="reviews" style="border: solid 1px;">
	<% @item.reviews.each do |review| %>
		<div class="review" style="border-bottom: solid 1px;">
			<div class="review-top">
				<h3 style="display: inline-block;"><%= review.title %></h3>
				<!-- 投稿を更新した後、新規投稿の日をどう表示させないか？ -->
				
					<p style="display: inline-block;"><%= review.created_at.strftime('%Y/%m/%d') %></p>
				
					<p style="display: inline-block;"><%= review.updated_at.strftime('%Y/%m/%d') %></p>
				
			</div>
			<p><%= review.body %></p>
			<% if user_signed_in? %>
				<p>
					<span class="review-create-cancel" style="display: inline-block; border: solid 1px;">
						<%= link_to '編集', edit_users_item_review_path(@item, review) %> 
					</span>
					<span class="review-create-cancel" style="display: inline-block; border: solid 1px;">
						<%= link_to '削除', users_item_review_path(@item, review), method: :delete, "data-confirm" => "本当に消しますか？" %>
					</span>
				</p>
			<% end %>
		</div>
	<% end %>
</div>