<h2 style="display: inline-block;">
	"<%= @item.name %>"へのレビュー
</h2>

<div class="review-post" style="border: solid 1px;">
	<%= form_for(@review, url: {controller: 'reviews', action: 'create'}) do |f| %>
			<p>題名</p>
			<%= f.text_field :title %>
			<p>本文</p>
			<%= f.text_area :body %>
			<%= f.submit '確定' %>
	<% end %>
	<span class="review-create-cancel" style="display: inline-block; border: solid 1px;">
		<%= link_to '戻る', users_item_reviews_path(@item) %> 
	</span>
</div>