<div class="row arrange-index">
	<div class="col-md-2">
      <h4 style="border: solid 1px; border-radius: 3px; padding: 10px;">ユーザ一覧</h4>
    </div>
  <div class="col-md-7 search-area clearfix">

  	<%= form_tag admins_users_path, method: :get do %>

  		<!--options_from_collection_for_select
  		 第１引数は表示させるデータ、第２引数は格納される値、第３引数はViewに表示される値-->

  		<%= text_field_tag :search,"",placeholder: 'ユーザ名で検索' %>
  		<%= submit_tag '検索', name: nil, class:"btn btn-info",
  		style:"width: 20%" %>
  	<% end %>
  </div>

  <div class="col-md-3 sort-area clearfix">
  	<%= form_tag admins_users_path, method: :get do %>
  		<%= select_tag 'key',
  		 options_for_select([
				["ユーザID",'id'],["ユーザ姓カナ",'last_name_kana']
  		 	]) %>
  		<%= select_tag 'direction',
  		 options_for_select([["昇順",'ASC'],['降順','DESC']]) %>
  		<%= submit_tag '並び替え', name: nil, class:"btn btn-info" %>
  	<% end %>
  </div>
  </div>
</div>
<div class="row review-index">
  <div class="col-md-10 col-md-offset-1 ">
  	<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>ユーザID</th>
						<th>ステータス</th>
						<th>ユーザ</th>
						<th>ユーザ(カナ)</th>
						<th>電話番号</th>
						<th>メールアドレス</th>
					</tr>
				</thead>
				<tbody>
					<% @users.each do |user| %>
						<tr>
							<th style="width:10%;">
								<%= link_to user.id, admins_user_path(user) %>
							</th>
							<td style="width:10%;"><%= user.is_quit %></td>
							<td style="width:10%;">
								<%= link_to user.last_name, admins_user_path(user) %><%= link_to user.first_name, admins_user_path(user) %></td>
							<td style="width:10%;"><%= link_to user.last_name_kana, admins_user_path(user) %><%= link_to user.first_name_kana, admins_user_path(user) %></td>
							<td style="width:10%;"><%= user.telephone_number %></td>
							<td style="width:10%;"><%= user.email %></td>
						</tr>
					<% end %>
				</tbody>
			</table>

		</div>
  </div>
</div>