<%= form_for(@delivery_address, url: users_user_orders_address_path) do |form| %>
<div class="nested-fields">
		<p>名前</p>
	<div>
		<%= form.text_field :recipient, class: "col-sm-4" %>
	</div>
	<p>〒</p>
	<div>
		<%= form.text_field :postal_code, class: "col-sm-4" %>
	</div>
	<p>住所</p>
	<div>
		<%= form.text_field :details, class: "col-sm-4" %>
	</div>
	<p>電話</p>
	<div>
		<%= form.text_field :telephone_number, class: "col-sm-4" %>
	</div>
	<div>
		<%= form.submit "登録", name: "add" %>
	</div>
</div>
<% end %>