<h1>注文履歴</h1>

<div class="col">
	<table class="table">
		<thead>
			<tr>
				<th>配送状況</th>
				<th>商品</th>
				<th>合計金額</th>
				<th>注文日</th>
				<th>注文ID</th>
			</tr>
		</thead>
		<tbody>
			<% @user.orders.each do |order| %>
				<tr>
					<td>
						<%= order.delivery_status %>
					</td>
					<td>
						<%= order.order_details[0].item_name %>他<%= order.order_details.count %>点
					</td>
					<td><%= order.total_price %></td>
					<td><%= order.created_at.strftime('%Y/%m/%d') %></td>
					<td><%= order.id %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>