<%= form_for(@order, url: users_user_orders_path(@user), method: :post) do |f| %>
	<div class="col-md-9">
		<div class="row">
			<div>
				<% @user.delivery_addresses.each do |d| %>
					<table class="table">
						<tbody>
							<tr>
								<td><label><%= f.radio_button :address, d.id, class: "radio_button" %> </label></td>
								<td>
									<%= d.recipient %><br>
									<%= d.postal_code %><br>
									<%= d.details %><br>
									<%= d.telephone_number %>
								</td>
							</tr>
						</tbody>
					</table>
				<% end %>
			</div>
			<!-- form入るところ -->
			<div>
				
			</div>
		</div>

		<!-- サンプルで２つ作ってます -->
		<!-- テーブルVER -->
		<div class="row">
			<table class="table">
					<tbody>
						<tr>
							<tr><td><label><%= f.radio_button :payment, :クレジット支払, class: "radio_button" %> クレジット支払</label></td></tr>
							<tr><td><label><%= f.radio_button :payment, :銀行振込, class: "radio_button" %> 銀行振込</label></td></tr>
							<tr><td><label><%= f.radio_button :payment, :代金引換, class: "radio_button" %> 代金引換</label></td></tr>
						</tr>
					</tbody>
				</table>
				<!-- リストVER -->
				<ul style="list-style: none; padding-left: 10px;">
					<li><label><%= f.radio_button :payment, :クレジット支払, class: "radio_button" %> クレジット支払</label></li>
					<li><label><%= f.radio_button :payment, :銀行振込, class: "radio_button" %> 銀行振込</label></li>
					<li><label><%= f.radio_button :payment, :代金引換, class: "radio_button" %> 代金引換</label></li>
				</ul>
		</div>

		<div class="row">
			<div class="col-md-9">
			<table class="table">
				<thead>
					<tr>
						<th>商品</th>
						<th></th>
						<th>価格(税別)</th>
						<th>数量</th>
					</tr>
				</thead>
				<tbody>
					<% @user.carts.each do |cart| %>
						<tr>
							<td style="width: 200px;">
								<%= link_to users_item_path(cart.item_id) do %>
									<%= attachment_image_tag cart.item, :image, :fill, 200, 200, format: 'jpeg', fallback: "/no_image.jpg", size:'150x150' %>
								<% end %>
							</td>
							<td>
								<p>
									<%= link_to users_item_path(cart.item_id) do %>
										<%= cart.item.name %>
									<% end %>
								</p>
								<p><%= cart.item.artist.name %></p>
								<p class="btn btn-default">
									<% if cart.item.sales_status == 1 %>
										販売中止
									<% elsif cart.item.sales_status == 2 %>
										売り切れ
									<% else %>
										販売中
									<% end %>
								</p>
							</td>
							<td>
								<p>¥ <%= cart.item.price.to_s(:delimited) %></p>
							</td>
							<td>
									<div><%= cart.amount %> 点</div>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		</div>
	</div>

	<div class="col-md-3" style="border: 1px solid #bbb">
		<p><%= f.submit "注文を確定する", class: "btn btn-warning" %></p>
		<p>小計 (<%= @total_amount %>点)　　¥<%= @subtotal_price.to_s(:delimited) %></p>
		<p>配送料　 　¥ <%= @carriage.to_s(:delimited) %></p>
		<p>割引　 　- ¥ <%= @discount.to_s(:delimited) %></p>
		<p>合計　 　¥<%= @total_price.to_s(:delimited) %></p>
		<p>(内消費税　 　¥<%= @tax.to_s(:delimited) %>)</p>
	</div>
<% end %>