<div class="row new-item">
	<div class="col-md-8 col-md-offset-2 form-group">
		<%= form_for [:admins, @item] do |item| %> <!--params[:item][:x]に-->
			<div class="field">
				<%= item.label :name, "商品名" %>
				<%= item.text_field :name %>
			</div>
			<div class="field">
				<%= item.label :artist, 'アーティスト' %>
				<%= item.select 'artist_id',
					 options_from_collection_for_select(Artist.all, :id, :name),
					 include_blank: 'アーティスト' %>
				<%= text_field_tag "artist[name]", "" %>
			</div>
			<div class="field">
				<%= item.label :genre, 'ジャンル' %>
				<%= item.select 'genre_id',
					 options_from_collection_for_select(Genre.all, :id, :name),
					 include_blank: "ジャンル" %>
				<%= text_field_tag "genre[name]", "" %>
			</div>
			<div class="field">
				<%= item.label :label, 'レーベル' %>
				<%= item.select 'label_id',
					 options_from_collection_for_select(Label.all, :id, :name),
					 include_blank: "レーベル" %>
				<%= text_field_tag "label[name]", "" %>
			</div>


			<% @item.discs.each do |discs| %>
				<div class="field">
	      	<%= item.fields_for discs do |disc_form| %>
	        	<%= disc_form.label :number, 'Disc' %>
	        	<%= disc_form.hidden_field :number, value: 1 %>
	        	<% discs.songs.each do |songs| %>
		        	<div class="field">
			          <%= disc_form.fields_for songs, index: songs.id do |song_form| %>
			          	<ol><%= song_form.label :name, '曲目' %>
			          		<%= song_form.hidden_field :number, value: 1 %>
				            <li><%= song_form.text_field :name %></li>
				            <%= song_form.hidden_field :number, value: 2 %>
				            <li><%= song_form.text_field :name %></li>
				          </ol>
			          <% end %>
			        </div>
			    	<% end %>
	      	<% end %>
	    	</div>
	    <% end %>

<!--<ActionController::Parameters {"name"=>"", "artist"=>"", "genre"=>"", "label"=>"", "discs"=>{"songs"=>{"name"=>""}}, "price"=>"", "stock"=>"", "sales_status"=>"編集中", "image"=>"{}"} permitted: false>-->


			<div class="field">
				<%= item.label :price, '税込価格' %>
				<%= item.text_field :price, placeholder:'半角数字' %>
			</div>
			<div class="field">
				<%= item.label :stock, '在庫数' %>
				<%= item.text_field :stock, placeholder:'半角数字' %>
			</div>
			<div class="field">
			  <%= item.label :sales_status, '販売ステータス' %>
			  <!--item.rbのenumを使用, 第２引数は(複数形.keys)-->
			  <%= item.select :sales_status, Item.sales_statuses.keys %>
			</div>
			<div class="field">
				<%= item.label :image, 'ジャケット画像' %>
				<%= item.attachment_field :image %>
			</div>
			<div class="actions">
				<%= item.submit "登録", data: { confirm: '保存します' }, class:"btn btn-info" %>
				<%= link_to 'キャンセル', request.referrer || admins_items_url, data: { confirm: '編集内容は破棄されます' }, class:"btn btn-danger" %>
			</div>
		<% end %>

	</div>
</div>