<h1>商品詳細</h1>
<div class="container">
	<div class="item-show clearfix" style="width: 90%; border-bottom: solid 1px;">
		<div class="item-left" style="float: left;  padding: 40px; width: 350px;">
			<img class="item_image">
				<%= attachment_image_tag @item, :image, :fill, 350, 350, format: 'jpeg' %>
		</div>
		<div class="item-right" style="float: left; padding: 40px 60px; width: 450px;">
			<p>
				<%= @item.name %>	
			</p>
			<p style="display: inline-block;  margin-right: 30px;">
				<%= @item.artist.name %>
			</p>
			<p style="display: inline-block; border:solid 1px; border-radius: 3px; padding: 2px 5px;">
				<%= @item.genre.name %>
			</p>
			<p style="border:solid 1px; border-radius: 3px; padding: 2px 5px; width: 200px; text-align: center;">
				<%= @item.label.name %>
			</p>
			<div style="display: inline-block;">
				<p style="width: 150px; display: inline-block; border:solid 2px; border-radius: 3px; padding: 2px 5px; text-align: center;">
					<%= @item.sales_status %>
				</p>
				<p style="display: inline-block; margin: 0 15px;">残り
					<%= @item.stock %>点
				</p>
			</div>
			<p>￥<%= @item.price %></p>
			<div class="clearfix">
				<div class="favorites" style="float: left; margin-right: 15px;">
					<span class="glyphicon glyphicon-heart" aria-hidden="true" style="float: left; margin-right: 15px;"></span>
					<p style="float: left; margin-right: 15px;">
						<%= @item.favorites.count %>
					</p>
				</div>
				<div class="reviews" style="float: left; margin-right: 15px;">
					<span class="glyphicon glyphicon-comment" aria-hidden="true" style="float: left; margin-right: 15px;"></span>
					<p style="float: left; margin-right: 15px;">
						<%= @item.reviews.count %>
					</p>
				</div>
			</div>
		</div>
	</div>
		<div class="item-detail clearfix" style="margin: 50px 0;">
			<h2>収録曲</h2>
			<% @item.discs.each do |disc| %>
				<div class="disc">
					<p>disc<%= disc.number %></p>
					<ul class="song-list">
						<% disc.songs.each do |song| %>
							<li>
								<%= song.number %>.<%= song.name %>
							</li>
						<% end %>
					</ul>
				</div>
			<% end %>
		</div>
		<ul style="margin-top: 40px">
			<li style="display: inline-block; margin-right: 20px">
				<%= link_to 'この商品のレビュー一覧', admins_reviews_path(item: @item) %>
			</li>
			<li style="display: inline-block">
				<%= link_to '編集', edit_admins_item_path(@item) %>
			</li>
		</ul>		
	
</div>