<h2 style="border: solid 1px;">商品詳細</h2>
<div class="container">
	<div class="album" style="width: 90%; border: solid 1px;">
		<div class="album-left" style="display: inline-block;">
			<div class="album_image">
				<%= attachment_image_tag @item, :image, :fill, 350, 350, format: 'jpeg' %>
			</div>
		</div>
		<div class="album-right" style="display: inline-block;padding: 30px;">
			<h3>
				<%= @item.name %>	
			</h3>
			<p style="display: inline-block;">
				<%= @item.artist.name %>
			</p>
			<p style="display: inline-block; border: solid 1px;">
				<%= @item.genre.name %>
			</p>
			<p>
				<%= @item.label.name %>
			</p>
			<div class="status" style="display: inline-block;">
				<p class="sales_status" style="border:solid 1px; display: inline-block;">
					<%= @item.sales_status %>
				</p>
				<p>残り
					<% @item.stock %>
				</p>
			</div>
			<p style="display: inline-block;">
				￥<%= @item.price %>
			</p>
			<div>
				<div class="favorites" style="display: inline-block; ">
					<span class="glyphicon glyphicon-heart" aria-hidden="true" style="display: inline-block; color: gray;"></span>
					<p style="display: inline-block;">
						<%= @item.favorites.count %>
					</p>
				</div>
				<div class="reviews" style="display: inline-block;">
					<span class="glyphicon glyphicon-comment" aria-hidden="true" style="display: inline-block;"></span>
					<p style="display: inline-block;">
						<%= @item.reviews.count %>
					</p>
				</div>
			</div>
		</div>
			<div class="item-detail">
				<h2>収録曲</h2>
				<% @item.discs.each do |disc| %>
					<div class="disc-box" style="display: inline-block;">
						<p>disc<%= disc.number %></p>
						<ul class="song-list">
							<% disc.songs.each do |song| %>
								<li>
									<%= song.number %>.<%= song.name %>
								</li>
							<% end %>
						</ul>
					</div>
				<% end %>
			</div>
			<div class="">
				<ul style="display: inline-block;">
					<li style="float: left;">
						<%= link_to 'この商品のレビュー一覧', admins_reviews_path(genre: @item.genre.id) %>
					</li>
					<li style="float: left;">
						<%= link_to '編集', edit_admins_item_path(@item) %>
					</li>
				</ul>
			</div>
		
	</div>
</div>