<h1>注文一覧</h1>

<div class="col">
	<table class="table">
		<thead>
			<tr>
				<th>注文日時</th>
				<th>注文ID</th>
				<th>商品</th>
				<th>配送先</th>
				<th>合計金額(税込)</th>
				<th>配送状況</th>
				<th>購入者</th>
			</tr>
		</thead>
		<tbody>
			<% @orders.each do |order| %>
				<tr>
					<td><%= order.created_at.strftime('%Y/%m/%d %H:%M') %></td>
					<td><%= link_to order.id, admins_order_path(order) %></td>
					<td>
						<% if order.order_details.count == 1 %>
							<%= order.order_details[0].item_name %>
						<% else %>
							<%= order.order_details[0].item_name %>　他<%= order.order_details.count %>点
						<% end %>
					</td>
					<td><%= order.address %></td>
					<td>¥ <%= order.total_price.to_s(:delimited) %></td>
					<td><%= order.delivery_status %></td>
					<td><%= order.user_name %></td>

				</tr>
			<% end %>
		</tbody>
	</table>
</div>

<%= paginate @orders, class: "paginate" %>