<div class="col-md-9">
	<div class="row" style="margin-bottom: 25px;">
		<h2>注文詳細</h2>
	</div>
	<div class="col-md-12">
		<div class="row">
			<ul class="list-group" style="max-width: 500px;">
			  <li class="list-group-item" style="border-bottom: none;">
			  	<h4>注文日時: <%= @order.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@order.created_at.wday]}) %H:%M") %></h4>
			  </li>
			  <li class="list-group-item" style="border-top: none;">
			  	<h4>配送状況: <%= @order.delivery_status %></h4>
			  </li>
			</ul>
		</div>

		<div class="row">
			<li class="list-group-item" style="max-width: 100px;">
					<h4 style="text-align: center;">配送先</h4>
			</li>
			<ul class="list-group" style="max-width: 500px;">
			  <li class="list-group-item" style="border-bottom: none;">
			  	<strong><%= @order.user_name %></strong>
			  </li>
			  <li class="list-group-item" style="border-top: none; border-bottom: none;">
			  	〒<%= @order.postal_code.insert(3, '-') %>
			  </li>
			  <li class="list-group-item" style="border-top: none; border-bottom: none;">
			  	<%= @order.address %>
			  </li>
			  <li class="list-group-item" style="border-top: none;">
			  	TEL: <%= @order.telephone_number %>
			  </li>
			</ul>
		</div>

		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<thead>
						<tr>
							<th>商品</th>
							<th></th>
							<th>価格(税別)</th>
							<th>数量</th>
						</tr>
					</thead>
					<tbody>
						<% @order.order_details.each do |detail| %>
							<tr>
								<td style="width: 30%;">
									<%= link_to users_item_path(detail.item_id) do %>
										<%= attachment_image_tag detail.item, :image, :fill, 200, 200, format: 'jpeg', fallback: "/no_image.jpg", size:'150x150' %>
									<% end %>
								</td>
								<td style="width: 35%;">
									<div class="text-center" style="margin-bottom: 10%;">
										<%= link_to users_item_path(detail.item_id) do %>
											<%= detail.item.name %>
										<% end %>
									</div>
									<div class="text-center" style="margin-bottom: 10%;">
										<p><%= detail.item.artist.name %></p>
									</div>
									<div class="text-center" >
										<p class="btn btn-default"><%= detail.item.sales_status %></p>
									</div>
								</td>
								<td style="width: 20%;">
									<p>¥ <%= detail.item.price.to_s(:delimited) %></p>
								</td>
								<td>
										<p><%= detail.amount %> 点</p>
								</td>
							</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<div class="col-md-3 price-box">
	<ul class="list-group" style="max-width: 400px;">
		<li class="list-group-item" >
			<h4><strong>支払情報</strong></h4>
		</li>
		<li class="list-group-item" >
			<h5><strong>支払金額</strong></h5>
		</li>
		<li class="list-group-item" style="border-bottom: none;">
			<p class="text-indent">小計 (<%= @total_amount %>点)　　¥ <%= @order.subtotal_price.to_s(:delimited) %></p>
		</li>
		<li class="list-group-item" style="border-top: none; border-bottom: none;">
			<p class="text-indent">配送料 　　　¥ <%= @order.carriage.to_s(:delimited) %></p>
		</li>
		<li class="list-group-item" style="border-top: none; border-bottom: none;">
			<p class="text-indent">割引 　　　 - ¥ <%= @discount.to_s(:delimited) %></p>
		</li>
		<li class="list-group-item" style="border-top: none; border-bottom: none;">
			<p class="text-indent">合計 　　　　¥ <%= @order.total_price.to_s(:delimited) %></p>
		</li>
		<li class="list-group-item" style="border-top: none;">
			<p class="text-indent">(内消費税　　¥ <%= @order.tax.to_s(:delimited) %>)</p>
		</li>
		<li class="list-group-item" >
			<h5><strong>支払方法</strong></h5>
		</li>
		<% if @order.payment == "クレジット支払" %>
			<li class="list-group-item" style="border-bottom: none;">
				<p class="text-indent"><%= @order.payment %></p>
			</li>
			<li class="list-group-item" style="border-top: none;">
				<p class="text-indent">xxxx-xxxx-xxxx-1234</p>
			</li>
		<% else %>
			<li class="list-group-item" >
				<p class="text-indent"><%= @order.payment %></p>
			</li>
		<% end %>
	</ul>
</div>