<div class="navbar navbar-default hero" style="width: 100%;">
  <nav class="container">
    <div class="container-fluid">
      <div class="navbar-header">
        <%= link_to 'ディスクターミナル', admins_path, class: "navbar-brand active",id: "top" %>
      </div>
      <% if admin_signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to '注文一覧', admins_orders_path %>
          </li>
          <li>
            <%= link_to '商品一覧', admins_items_path %>
          </li>
          <li>
            <%= link_to '新規商品の登録', new_admins_item_path %>
          </li>
          <li>
            <%= link_to 'ユーザ一覧', admins_users_path %>
          </li>
          <li>
            <%= link_to 'レビュー一覧', admins_reviews_path %>
          </li>
          <li>
             <%= link_to 'ログアウト', destroy_admin_session_url, method: :delete %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "ログイン", new_admin_session_path %></li>
        </ul>
      <% end %>
    </div>
  </nav>
</div>

